{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Категория: {{ category.name }}</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>{{ product.description|truncatechars:100 }}</p>
                    <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-outline-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Нет продуктов в этой категории.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
